<div class="row">
    <div id="header" class="col-12 ">

        <div id="Logo"><img src="mirela_logo.png" width="100%" height="250px"></div>
        <div id="Menu-items">

            <nav class="nav nav-pills nav-justified bg-dark">
                <a class="nav-item nav-link active" href="#">Homepage</a>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                       aria-haspopup="true" aria-expanded="false">Craiova mea</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Vinuri 1</a>
                        <a class="dropdown-item" href="#">Vinuri 2</a>
                        <a class="dropdown-item" href="#">Vinuri 3  </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                </li>
                <a class="nav-item nav-link" href="#">Link</a>
                <a class="nav-item nav-link" href="#">Link</a>
                <a class="nav-item nav-link disabled" href="#">Disabled</a>
            </nav>
            <ul class="nav nav-pills nav-fill">
                <li class="nav-item">
                    <a class="nav-link " href="#">Active</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Longer nav link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>

            </ul>
        </div>
    </div>

</div>
