<div id="sidebars" class="col-3">

    <div id="sidebar-1">
        <div><h5 class="text-center">Cauta</h5></div>
        <hr/>

        <nav class="navbar navbar-dark bg-dark">
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Cauta si apasa enter" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Cauta</button>
            </form>
        </nav>

    </div>

    <div id="sidebardespremine">Despre mine
        <div ><img src="artimage1.jpg" class="img-responsive" style="width: 300px;" height="300px;" > </div>dsadsa 1img
    </div>
    <div id="sidebar-2">
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action active">
                Archiva mai 1
            </a>
            <a href="#" class="list-group-item list-group-item-action"> Archiva mai 2 </a>
            <a href="#" class="list-group-item list-group-item-action"> Archiva mai 3 </a>
            <a href="#" class="list-group-item list-group-item-action"> Archiva mai 4</a>
            <a href="#" class="list-group-item list-group-item-action "> Archiva mai 5 </a>
            <a href="#" class="list-group-item list-group-item-action"> Archiva mai 6</a>
            <a href="#" class="list-group-item list-group-item-action "> Archiva mai 7 </a>
        </div>
    </div>


</div>